<ng-container *ngIf="(order$ | async) as order">
   <div class="w-full">
      <h3 mat-dialog-title>Order #{{ order.orderNumber }}</h3>

      <h3 class="text-lg my-4"><b>Status</b> : {{order.order_status.status}}</h3>

      <h3 class="text-lg"><b>Items</b></h3>
      <div>
         <table mat-table [dataSource]="dataSourcePricing" class="w-full text-left">

            <ng-container matColumnDef="product">
               <th mat-header-cell *matHeaderCellDef class="p-0"> Product </th>
               <td mat-cell *matCellDef="let element" class="p-0"> {{element.detail.name}} </td>
               <td mat-footer-cell *matFooterCellDef class="p-0">
                  <b>Total</b>
               </td>
            </ng-container>

            <ng-container matColumnDef="price">
               <th mat-header-cell *matHeaderCellDef> Price </th>
               <td mat-cell *matCellDef="let element"> {{element.item_price | currency:'JPY'}} </td>
               <td mat-footer-cell *matFooterCellDef>
               </td>
            </ng-container>

            <ng-container matColumnDef="qty">
               <th mat-header-cell *matHeaderCellDef> Qty </th>
               <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
               <td mat-footer-cell *matFooterCellDef>
               </td>
            </ng-container>

            <ng-container matColumnDef="total_price">
               <th mat-header-cell *matHeaderCellDef> Total </th>
               <td mat-cell *matCellDef="let element"> {{element.total_price | currency:'JPY'}} </td>
               <td mat-footer-cell *matFooterCellDef>
                  <b>{{ order.amount | currency:'JPY'}}</b>
               </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayColumnsPricing"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumnsPricing;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayColumnsPricing"></tr>

         </table>

      </div>

      <h3 class="text-lg my-4"><b>Shipping</b></h3>
      <div>
         <p><b>Destination</b> : {{order.shipping.shipping_destination.destination}}</p>
         <p><b>Name</b> : {{order.shipping.receiveName}}</p>
         <p><b>Phone</b> : {{order.shipping.receivePhone}}</p>
         <p><b>Email</b> : {{order.shipping.receiveMail}}</p>
         <p><b>Address</b> : {{order.shipping.receiveAddress}}</p>
         <p><b>Address Detail</b> : {{order.shipping.receiveAddressDetail}}</p>
         <hr>
         <p><b>Shipping Number</b> : {{order?.shipping?.courier?.courierName}} -
            {{order?.shipping?.courier?.courierPhone}}</p>
         <p><b>Courier Name</b> : {{order?.shipping?.shippingNumber}}</p>
      </div>
      <h3 class="text-lg my-4"><b>Payment</b></h3>
      <table class="table-auto w-100">
         <thead class="text-left">
            <tr>
               <th>Bukti Pembayaran</th>
               <td>
                  <ng-container *ngIf="order.payment.paymentFile">
                     <a [href]="order.payment.paymentFile" target="_blank" class="bg-blue-500 p-2 px-4 rounded text-white">Download</a>
                  </ng-container>
               </td>
            </tr>
         </thead>
      </table>
   </div>
</ng-container>