<div class="w-100">
    <h1 mat-dialog-title>{{ dialogData.title }} </h1>

    <form [formGroup]="form" id="form" #f="ngForm" (ngSubmit)="submitForm(f)" novalidate>
        <div class="flex flex-col w-full">
            <div mat-dialog-content>
                <div class="flex flex-col w-full">
                    <mat-form-field>
                        <mat-label>Nama Mapel</mat-label>
                        <input matInput [formControlName]="'mapel_name'" required />
                    </mat-form-field>
                    <ng-container *ngIf="(modules$ | async) as modules">
                        <mat-form-field>
                            <mat-label>Module</mat-label>
                            <mat-select matInput [formControlName]="'module_id'">
                                <mat-option *ngFor="let module of modules" [value]="module.id">
                                    {{module.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                    <mat-form-field>
                        <mat-label>Deskripsi</mat-label>
                        <textarea matInput [formControlName]="'description'"></textarea>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Icon</mat-label>
                        <input matInput [formControlName]="'thumbnail'" required />
                    </mat-form-field>
                </div>
            </div>

            <div>
                <div mat-dialog-actions class="flex justify-center">
                    <button-close></button-close>
                    <button-submit></button-submit>
                </div>
            </div>
        </div>

    </form>

</div>