<div class="w-100">
    <h1 mat-dialog-title>{{ dialogData.title }} </h1>

    <form [formGroup]="form" id="form" #f="ngForm" (ngSubmit)="submitForm(f)" novalidate>
        <div class="flex flex-col w-full">
            <div mat-dialog-content>
                <div class="flex flex-col w-full">
                    <mat-form-field>
                        <mat-label>Key</mat-label>
                        <input matInput [formControlName]="'key'" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Value</mat-label>
                        <input matInput [formControlName]="'value'" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Value2</mat-label>
                        <input matInput [formControlName]="'value2'" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Value3</mat-label>
                        <input matInput [formControlName]="'value3'" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Value4</mat-label>
                        <input matInput [formControlName]="'value4'" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Value5</mat-label>
                        <input matInput [formControlName]="'value5'" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Deskripsi</mat-label>
                        <textarea matInput [formControlName]="'description'"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div>
                <div mat-dialog-actions class="flex justify-center">
                    <button-close></button-close>
                    <button-submit></button-submit>
                </div>
            </div>
        </div>

    </form>

</div>