<ng-container *ngIf="(order$ | async) as order">

   <swal #notifAlert title="{{alert_title}}" text="{{alert_title}}" icon="question" [showCancelButton]="true"
      [focusCancel]="true" (confirm)="processOrderConfirm(order)">
   </swal>

   <div class="w-full">
      <h3 mat-dialog-title>Process Order #{{ order.orderNumber }}</h3>
      <div>
         <ng-container *ngIf="order.orderStatusId===201">
            <button class="bg-blue-500 p-2 px-4 rounded text-white" (click)="confirmOrder(order)">Konfirmasi
               Order</button>
         </ng-container>
         <ng-container *ngIf="order.orderStatusId===202">
            <button class="bg-blue-500 p-2 px-4 rounded text-white" (click)="processOrder(order)">Proses Order</button>
         </ng-container>
         <ng-container *ngIf="order.orderStatusId===203">
            <button class="bg-blue-500 p-2 px-4 rounded text-white" (click)="prepareShipping(order)">Siapkan
               Pengiriman</button>
         </ng-container>
         <ng-container *ngIf="order.orderStatusId===204">
            <div>
               <form [formGroup]="formApp" id="form" #f="ngForm" (ngSubmit)="shipping(order,f)" novalidate>
                  <div class="flex flex-col w-full">
                     <div mat-dialog-content>
                        <div class="flex flex-col w-full">
                           <ng-container *ngIf="(couriers$ | async) as couriers">
                              <mat-form-field>
                                 <mat-label>Courier Name</mat-label>
                                 <mat-select [formControlName]="'courierId'" required>
                                    <mat-option *ngFor="let courier of couriers" [value]="courier.id">
                                       {{courier.courierName}} - {{courier.courierPhone}}</mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </ng-container>

                           <mat-form-field>
                              <mat-label>Shipping Number</mat-label>
                              <input matInput [formControlName]="'shippingNumber'" required />
                           </mat-form-field>
                           <mat-form-field>
                              <mat-label>Notes</mat-label>
                              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                 cdkAutosizeMinRows="4" cdkAutosizeMaxRows="6" [formControlName]="'notes'"></textarea>
                           </mat-form-field>
                        </div>
                     </div>

                  </div>
                  <button class="bg-blue-500 p-2 px-4 rounded text-white">Buat
                     pengiriman</button>
               </form>
            </div>
         </ng-container>
         <ng-container *ngIf="order.orderStatusId===205">
            <button class="bg-blue-500 p-2 px-4 rounded text-white" (click)="orderEnd(order)">Order Selesai</button>
         </ng-container>
      </div>
   </div>
</ng-container>