<div class="w-full">
    <div class="flex items-center w-full py-4">
        <mat-icon class="text-red-600" [svgIcon]="'warning'"></mat-icon>
        <span class="ml-1">Terdapat soal yang belum di jawab Benar</span>
    </div>
    <div>
        <ng-container *ngIf="dialogData.soals">
            <ng-container *ngFor="let soal of dialogData.soals">
                <div
                    class="my-2 w-full bg-red-200 text-black py-3 rounded px-2 flex justify-between items-center"
                >
                    <b>ID: #{{ soal.id }}</b>
                    <button
                        class="min-w-6 min-h-5 h-5 px-2 leading-4"
                        (click)="edit(soal.uuid)"
                    >
                        <span class="material-icons"> edit </span>
                    </button>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
