<div class="w-full" id="jadwal_to">
    <ng-container *ngIf="isLoading == true">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </ng-container>
    <h1 mat-dialog-title>{{ dialogData.title }}</h1>

    <form
        [formGroup]="form"
        id="form"
        #f="ngForm"
        (ngSubmit)="submitForm(f)"
        novalidate
    >
        <div class="flex flex-col w-full">
            <div mat-dialog-content>
                <div class="flex flex-col">
                    <ng-container>
                        <mat-form-field class="w-full">
                            <mat-label>Title</mat-label>
                            <input
                                matInput
                                placeholder="Ex. Paket A"
                                required
                                [formControlName]="'title'"
                            />
                        </mat-form-field>
                    </ng-container>

                    <div class="w-full grid grid-cols-2 gap-2">
                        <mat-form-field>
                            <mat-label>Jadwal Mulai</mat-label>
                            <input
                                matInput
                                class="w-full"
                                [ngxMatDatetimePicker]="schedule_start"
                                placeholder="Choose a date & time"
                                [formControlName]="'schedule_start'"
                                required
                            />

                            <mat-datepicker-toggle
                                matSuffix
                                [for]="schedule_start"
                            ></mat-datepicker-toggle>

                            <ngx-mat-datetime-picker
                                #schedule_start
                            ></ngx-mat-datetime-picker>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Jadwal Selesai</mat-label>
                            <input
                                matInput
                                class="w-full"
                                [ngxMatDatetimePicker]="schedule_end"
                                placeholder="Choose a date & time"
                                [formControlName]="'schedule_end'"
                                required
                            />

                            <mat-datepicker-toggle
                                matSuffix
                                [for]="schedule_end"
                            ></mat-datepicker-toggle>

                            <ngx-mat-datetime-picker
                                #schedule_end
                            ></ngx-mat-datetime-picker>
                        </mat-form-field>
                    </div>

                    <div class="w-full grid grid-cols-2 gap-2">
                        <mat-form-field>
                            <mat-label>Open Registration</mat-label>
                            <input
                                matInput
                                class="w-full"
                                [ngxMatDatetimePicker]="registration_start"
                                placeholder="Choose a date & time"
                                [formControlName]="'registration_start'"
                                required
                            />

                            <mat-datepicker-toggle
                                matSuffix
                                [for]="registration_start"
                            ></mat-datepicker-toggle>

                            <ngx-mat-datetime-picker
                                #registration_start
                            ></ngx-mat-datetime-picker>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Close Registration</mat-label>
                            <input
                                matInput
                                class="w-full"
                                [ngxMatDatetimePicker]="registration_end"
                                placeholder="Choose a date & time"
                                [formControlName]="'registration_end'"
                                required
                            />

                            <mat-datepicker-toggle
                                matSuffix
                                [for]="registration_end"
                            ></mat-datepicker-toggle>

                            <ngx-mat-datetime-picker
                                #registration_end
                            ></ngx-mat-datetime-picker>
                        </mat-form-field>
                    </div>

                    <mat-form-field>
                        <mat-label>Deskripsi</mat-label>
                        <textarea
                            [formControlName]="'description'"
                            matInput
                            placeholder="Ex. Paket A"
                            required
                        ></textarea>
                    </mat-form-field>

                    <div class="my-4">
                        <ng-container *ngIf="tryoutTypes$ | async as types">
                            <mat-label>Type Tryout</mat-label>
                            <div class="grid grid-cols-2 gap-3">
                                <ng-container *ngFor="let item of types">
                                    <div
                                        class="flex items-center justify-between border py-2 px-1 my-2"
                                    >
                                        <label for="">{{ item.title }}</label>
                                        <span>
                                            <mat-checkbox
                                                [value]="item.id"
                                                [checked]="
                                                    inputCheckTypeTryout(
                                                        item.id
                                                    )
                                                "
                                                #chk
                                                (change)="handleChangeType(chk)"
                                            ></mat-checkbox>
                                        </span>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <div
                    class="flex flex-col gap-3 bg-gray-300 rounded-md px-5 pb-5 pt-2"
                >
                    <ng-container>
                        <div class="flex justify-between items-center">
                            <p class="font-bold text-lg">Filter Soal</p>
                            <button
                                type="button"
                                mat-button
                                color="primary"
                                (click)="changeFilterVisible()"
                            >
                                <mat-icon>{{
                                    isFilter ? "visibility" : "visibility_off"
                                }}</mat-icon>
                            </button>
                        </div>
                        <ng-container *ngIf="isFilter">
                            <div class="grid grid-cols-1 gap-2">
                                <ng-container>
                                    <ng-container *ngIf="tryoutModules">
                                        <div>
                                            <mat-label>Module</mat-label>
                                            <div class="grid grid-cols-3 gap-3">
                                                <ng-container
                                                    *ngFor="
                                                        let item of tryoutModules
                                                    "
                                                >
                                                    <div
                                                        class="flex items-center justify-between border py-2 px-1 my-2 bg-white"
                                                    >
                                                        <label for="">{{
                                                            item.name
                                                        }}</label>
                                                        <span>
                                                            <mat-checkbox
                                                                [value]="
                                                                    item.id
                                                                "
                                                                [checked]="
                                                                    inputCheckModule(
                                                                        item.id
                                                                    )
                                                                "
                                                                #chkm
                                                                (change)="
                                                                    handleChangeModule(
                                                                        chkm
                                                                    )
                                                                "
                                                            ></mat-checkbox>
                                                        </span>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <!-- <ng-container *ngIf="tryoutTopics">
                                        <div>
                                            <mat-label>Topik</mat-label>
                                            <div class="grid grid-cols-3 gap-3">
                                                <ng-container
                                                    *ngFor="
                                                        let item of tryoutTopics
                                                    "
                                                >
                                                    <div
                                                        class="flex items-center justify-between border py-2 px-1 my-2 bg-white"
                                                    >
                                                        <label for="">{{
                                                            item.name
                                                        }}</label>
                                                        <span>
                                                            <mat-checkbox
                                                                [checked]="
                                                                    inputCheckTopics(
                                                                        item.id
                                                                    )
                                                                "
                                                                [value]="
                                                                    item.id
                                                                "
                                                                #chk1
                                                                (change)="
                                                                    handleChangeTopic(
                                                                        chk1
                                                                    )
                                                                "
                                                            ></mat-checkbox>
                                                        </span>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </ng-container> -->

                                    <!-- <ng-container *ngIf="tryoutSubtopics">
                                        <div>
                                            <mat-label>Sub Topik</mat-label>
                                            <div class="grid grid-cols-3 gap-3">
                                                <ng-container
                                                    *ngFor="
                                                        let item of tryoutSubtopics
                                                    "
                                                >
                                                    <div
                                                        class="flex items-center justify-between border py-2 px-1 my-2 bg-white"
                                                    >
                                                        <label for="">{{
                                                            item.name
                                                        }}</label>
                                                        <span>
                                                            <mat-checkbox
                                                                [checked]="
                                                                    inputCheckSubtopics(
                                                                        item.id
                                                                    )
                                                                "
                                                                [value]="
                                                                    item.id
                                                                "
                                                                #chk2
                                                                (change)="
                                                                    handleChangeSubtopic(
                                                                        chk2
                                                                    )
                                                                "
                                                            ></mat-checkbox>
                                                        </span>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </ng-container> -->
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container>
                        <div class="flex flex-row items-center justify-between">
                            <p class="font-bold text-lg">Soal ({{questionIds.length}} Checked)</p>
                            <button
                                *ngIf="isPreview === false"
                                mat-button
                                color="primary"
                                (click)="onPreview(true)"
                            >
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button
                                *ngIf="isPreview === true"
                                mat-button
                                color="primary"
                                (click)="onPreview(false)"
                            >
                                <mat-icon>visibility_off</mat-icon>
                            </button>
                        </div>

                        <div>
                            <ng-container *ngIf="soals">
                                <ng-container
                                    *ngFor="let item of soals; let i = index"
                                >
                                    <div
                                        class="my-2 bg-gray-100 py-2 rounded px-2 flex w-full"
                                    >
                                        <span class="font-bold mr-2"
                                            ><b>{{ i + 1 }}</b
                                            >.#<span class="text-red-600">{{item.id}}</span></span
                                        >
                                        <div  class="w-full">
                                            <mat-checkbox
                                                #chk
                                                (change)="changeQuestion(chk)"
                                                [value]="item.id"
                                                [checked]="
                                                    isQuestionCheck(item.id)
                                                "
                                            >
                                                <div class="flex">
                                                    <span
                                                        class="ml-2"
                                                        [innerHTML]="
                                                            item.content
                                                        "
                                                    ></span>
                                                </div>
                                            </mat-checkbox>
                                            <div
                                                class="flex flex-col pt-2 pl-10"
                                                *ngIf="isPreview === true"
                                            >
                                                <ol class="">
                                                    <ng-container
                                                        *ngFor="
                                                            let jwb of item.jawaban | sortBy: 'key'
                                                        "
                                                    >
                                                        <ng-container
                                                            *ngIf="
                                                                jwb.is_true ==
                                                                true
                                                            "
                                                        >
                                                            <li
                                                                class="flex text-red-700 font-bold"
                                                            >
                                                                <span
                                                                    class="font-bold"
                                                                    >{{
                                                                        jwb.key
                                                                    }}.</span
                                                                >
                                                                <span
                                                                    class="ml-2"
                                                                    [innerHTML]="
                                                                        jwb.content
                                                                    "
                                                                ></span>
                                                            </li>
                                                        </ng-container>
                                                        <ng-container
                                                            *ngIf="
                                                                jwb.is_true ==
                                                                false
                                                            "
                                                        >
                                                            <li class="flex">
                                                                <span
                                                                    class="font-bold"
                                                                    >{{
                                                                        jwb.key
                                                                    }}.</span
                                                                >
                                                                <span
                                                                    class="ml-2"
                                                                    [innerHTML]="
                                                                        jwb.content
                                                                    "
                                                                ></span>
                                                            </li>
                                                        </ng-container>
                                                    </ng-container>
                                                </ol>
                                            </div>
                                            <div
                                                class="bg-green-300 w-12/12 py-2 px-2 my-2 rounded-xl flex"
                                            >
                                                <span class="mx-2 font-bold">{{
                                                    item?.tryout_module?.name
                                                }}</span>
                                                -
                                                <span class="mx-2 font-bold">{{
                                                    item?.tryout_topic?.name
                                                }}</span>
                                                -
                                                <span class="mx-2 font-bold">{{
                                                    item?.tryout_subtopic?.name
                                                }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div>
                <div mat-dialog-actions class="flex">
                    <button-close></button-close>
                    <ng-container *ngIf="questionIds.length >= 1">
                        <button
                            [disabled]="isLoading == true"
                            type="submit"
                            class="bg-green-600 text-white"
                            mat-button
                        >
                            Submit
                        </button>
                    </ng-container>
                </div>
            </div>
        </div>
    </form>
</div>
