<div class="w-full">
    <ng-container *ngIf="isLoading == true">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </ng-container>
    <h1 mat-dialog-title>{{ dialogData.title }}</h1>

    <form
        [formGroup]="form"
        id="form"
        #f="ngForm"
        (ngSubmit)="submitForm(f)"
        novalidate
    >
        <div class="flex flex-col w-full">
            <div mat-dialog-content>
                <div class="flex flex-col w-full">
                    <ng-container *ngIf="categories">
                        <mat-form-field>
                            <mat-label>Category</mat-label>
                            <mat-select
                                matInput
                                [formControlName]="'category_id'"
                                required
                            >
                                <mat-option
                                    *ngFor="let category of categories"
                                    [value]="category.id"
                                >
                                    {{ category.category }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="form.value.category_id === 'tryout'">
                        <ng-container *ngIf="tryoutModules">
                            <mat-form-field>
                                <mat-label>Module</mat-label>
                                <mat-select
                                    matInput
                                    [formControlName]="'tryout_module_id'"
                                    #md
                                    (selectionChange)="
                                        changeTryoutModule(md.value)
                                    "
                                >
                                    <mat-option
                                        *ngFor="let item of tryoutModules"
                                        [value]="item.id"
                                    >
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>

                        <ng-container *ngIf="tryoutTopics && form.value.tryout_module_id">
                            <mat-form-field>
                                <mat-label>Topik</mat-label>
                                <mat-select
                                    matInput
                                    [formControlName]="'tryout_topic_id'"
                                    #tp
                                    (selectionChange)="
                                        changeTryoutTopic(tp.value)
                                    "
                                >
                                    <mat-option
                                        *ngFor="let mapel of topics"
                                        [value]="mapel.id"
                                    >
                                        {{ mapel.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>


                        <ng-container *ngIf="tryoutSubtopics && form.value.tryout_topic_id">
                            <mat-form-field>
                                <mat-label>Sub Topik</mat-label>
                                <mat-select
                                    matInput
                                    [formControlName]="'tryout_subtopic_id'" id="subtopic"
                                >
                                    <mat-option
                                        *ngFor="let mapel of subtopics"
                                        [value]="mapel.id"
                                    >
                                        {{ mapel.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </ng-container>

                    <ng-container
                        *ngIf="form.value.category_id === 'latihan_soal'"
                    >
                        <ng-container *ngIf="modules$ | async as modules">
                            <mat-form-field>
                                <mat-label>Module</mat-label>
                                <mat-select
                                    matInput
                                    [formControlName]="'module_id'"
                                    #mdl
                                    (selectionChange)="changeModule(mdl.value)"
                                >
                                    <mat-option
                                        *ngFor="let module of modules"
                                        [value]="module.id"
                                    >
                                        {{ module.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>

                        <ng-container *ngIf="mapels">
                            <mat-form-field>
                                <mat-label>Mapel</mat-label>
                                <mat-select
                                    matInput
                                    [formControlName]="'mapel_id'"
                                >
                                    <mat-option
                                        *ngFor="let mapel of mapels"
                                        [value]="mapel.id"
                                    >
                                        {{ mapel.mapel_name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </ng-container>
                    <mat-form-field>
                        <mat-label>Difficulty</mat-label>
                        <input
                            type="number"
                            matInput
                            [formControlName]="'level'"
                        />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Mark</mat-label>
                        <input matInput [formControlName]="'mark'" />
                    </mat-form-field>
                    <div>
                        <mat-label>Instruksi</mat-label>
                        <my-editor
                            [formControlName]="'instruction'"
                        ></my-editor>
                    </div>
                    <div>
                        <mat-label>Konten</mat-label>
                        <my-editor [formControlName]="'content'"></my-editor>
                    </div>
                    <div class="my-2">
                        <div class="mt-3">
                            <list-jawaban></list-jawaban>
                        </div>
                    </div>
                    <div>
                        <mat-label>Pembahasan</mat-label>
                        <my-editor [formControlName]="'pembahasan'"></my-editor>
                    </div>
                    <div class="my-4 flex flex-col">
                        <mat-form-field>
                            <mat-label>Flag 1</mat-label>
                            <input matInput [formControlName]="'value1'" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Flag 2</mat-label>
                            <input matInput [formControlName]="'value2'" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Flag 3</mat-label>
                            <input matInput [formControlName]="'value3'" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Flag 4</mat-label>
                            <input matInput [formControlName]="'value4'" />
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div>
                <div mat-dialog-actions class="flex">
                    <button-close></button-close>
                    <button
                        [disabled]="isLoading"
                        type="submit"
                        class="bg-green-600 text-white"
                        mat-button
                    >
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
