<div class="w-200">
    <h1 mat-dialog-title>{{ dialogData.title }}</h1>

    <form
        [formGroup]="form"
        id="form"
        #f="ngForm"
        (submit)="submitForm(f)"
        novalidate
    >
        <div class="flex flex-col w-full">
            <div mat-dialog-content>
                <div class="flex flex-col w-full">
                    <ng-container *ngIf="categories">
                        <mat-form-field>
                            <mat-label>Category</mat-label>
                            <mat-select
                                matInput
                                [formControlName]="'category_id'"
                                required
                            >
                                <mat-option
                                    *ngFor="let category of categories"
                                    [value]="category.id"
                                >
                                    {{ category.category }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="form.value.category_id === 'tryout'">
                        <!-- <ng-container *ngIf="tryoutTypes$ | async as modules">
                            <mat-form-field>
                                <mat-label>Type</mat-label>
                                <mat-select
                                    matInput
                                    [formControlName]="'tryout_type_id'"
                                    #mdl
                                    (selectionChange)="
                                        changeTryoutType(mdl.value)
                                    "
                                >
                                    <mat-option
                                        *ngFor="let module of modules"
                                        [value]="module.id"
                                    >
                                        {{ module.title }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container> -->

                        <ng-container *ngIf="toModules">
                            <mat-form-field>
                                <mat-label>Module</mat-label>
                                <mat-select
                                    matInput
                                    [formControlName]="'tryout_module_id'"
                                    #md
                                >
                                    <mat-option
                                        *ngFor="let mdl of toModules"
                                        [value]="mdl.code"
                                    >
                                        {{ mdl.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>

                        <ng-container *ngIf="toTopics">
                            <mat-form-field>
                                <mat-label>Topik</mat-label>
                                <mat-select
                                    matInput
                                    [formControlName]="'tryout_topic_id'"
                                    #tp
                                >
                                    <mat-option
                                        *ngFor="let item of toTopics"
                                        [value]="item.code"
                                    >
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>

                        <ng-container *ngIf="toSubTopics">
                            <mat-form-field>
                                <mat-label>Sub Topik</mat-label>
                                <mat-select
                                    matInput
                                    [formControlName]="'tryout_subtopic_id'"
                                >
                                    <mat-option
                                        *ngFor="let item of toSubTopics"
                                        [value]="item.code"
                                    >
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </ng-container>

                    <ng-container
                        *ngIf="form.value.category_id === 'latihan_soal'"
                    >
                        <ng-container *ngIf="modules$ | async as modules">
                            <mat-form-field>
                                <mat-label>Module</mat-label>
                                <mat-select
                                    matInput
                                    [formControlName]="'module_id'"
                                    #mdl
                                    (selectionChange)="changeModule(mdl.value)"
                                >
                                    <mat-option
                                        *ngFor="let module of modules"
                                        [value]="module.id"
                                    >
                                        {{ module.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>

                        <ng-container *ngIf="mapels">
                            <mat-form-field>
                                <mat-label>Mapel</mat-label>
                                <mat-select
                                    matInput
                                    [formControlName]="'mapel_id'"
                                    (selectionChange)="changeMapel()"
                                >
                                    <mat-option
                                        *ngFor="let mapel of mapels"
                                        [value]="mapel.id"
                                    >
                                        {{ mapel.mapel_name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </ng-container>

                    <div class="flex flex-col gap-2">
                        <mat-label class="font-medium">Upload Soal</mat-label>
                        <div class="flex flex-row gap-2">
                            <button-upload
                                (change)="selectFile($event)"
                                [disabled]="isDisabled"
                            ></button-upload>
                            <span>{{ filename }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div mat-dialog-actions class="flex mt-2 gap-2">
                    <button-close></button-close>
                    <button-submit></button-submit>
                </div>
            </div>
        </div>
    </form>
</div>
