<div class="w-100">
    <h1 mat-dialog-title>{{ data.formTitle }}</h1>

    <form [formGroup]="formApp" id="formApp" #f="ngForm" (ngSubmit)="submitForm(f)">
        <div class="flex flex-col w-full">
            <div mat-dialog-content>
                <div class="flex flex-col w-full">
                    <mat-form-field>
                        <mat-label>Total</mat-label>
                        <input name="additional_stock" type="number" matInput [formControlName]="'additional_stock'"
                            required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Notes</mat-label>
                        <textarea name="note" matInput [formControlName]="'note'" required></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div mat-dialog-actions class="flex justify-center">
                    <button-close></button-close>
                    <button-submit></button-submit>
                </div>
            </div>
        </div>

    </form>

</div>