<div class="w-100">
    <h1 mat-dialog-title>{{ formAttribute.formTitle }}</h1>

    <form [formGroup]="formApp" id="formApp" #f="ngForm" (ngSubmit)="submitForm(f)" novalidate>
        <div class="flex flex-col w-full">
            <div mat-dialog-content>
                <div class="flex flex-col w-full">
                    <mat-form-field>
                        <mat-label>Product Name</mat-label>
                        <input name="name" matInput [formControlName]="'name'" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>SKU</mat-label>
                        <input name="sku" matInput [formControlName]="'sku'" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Barcode Number</mat-label>
                        <input name="barcode" matInput [formControlName]="'barcode'" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Price Default</mat-label>
                        <input name="priceDefault" type="number" matInput [formControlName]="'priceDefault'" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Purchase Price</mat-label>
                        <input name="buyPricePerUnit" type="number" matInput [formControlName]="'buyPricePerUnit'"
                            required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Supplier</mat-label>
                        <mat-select *ngIf="suppliers.length >= 1" matInput [formControlName]="'supplierId'" required>
                            <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">
                                {{supplier.supplierName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Sort Description</mat-label>
                        <textarea name="sortDescription" matInput [formControlName]="'sortDescription'"
                            required></textarea>
                    </mat-form-field>
                    <div>

                        <div class="my-2">
                            <label for="" class="text-gray-800"><b>Description</b></label>
                            <div class="my-2">
                                <app-editor [value]="formApp.value.description" (setValue)="setDescription($event)"
                                    name="description">
                                </app-editor>
                            </div>
                        </div>

                        <div class="my-2">
                            <label for="" class="text-gray-800"><b>Additional Info</b></label>
                            <div class="my-2">
                                <app-editor [value]="formApp.value.additionalInfo" (setValue)="setAdditionalInfo($event)"
                                    name="additionalInfo">
                                </app-editor>
                            </div>
                        </div>

                        <div>
                            <shared-form-upload-image (fileUpload)="changeImageUpload($event)" name="thumbnail"
                                [preview]="imgPreview"></shared-form-upload-image>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div mat-dialog-actions class="flex justify-center">
                    <button-close></button-close>
                    <button-submit></button-submit>
                </div>
            </div>
        </div>

    </form>

</div>