<div class="w-100">
    <h1 mat-dialog-title>{{ formAttribute.formTitle }}</h1>

    <form [formGroup]="formApp" id="formApp" #f="ngForm" (ngSubmit)="submitForm(f)" novalidate>
        <div class="flex flex-col w-full">
            <div mat-dialog-content>
                <div class="flex flex-col w-full">
                    <mat-form-field>
                        <mat-label>Product Name</mat-label>
                        <input name="productName" matInput [formControlName]="'productName'" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>SKU</mat-label>
                        <input name="productSku" matInput [formControlName]="'productSku'" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Barcode Number</mat-label>
                        <input name="productBarcode" matInput [formControlName]="'productBarcode'" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Price Default</mat-label>
                        <input name="priceDefault" type="number" matInput [formControlName]="'priceDefault'" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Purchase Price</mat-label>
                        <input name="buyPricePerUnit" type="number" matInput [formControlName]="'buyPricePerUnit'" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Supplier</mat-label>
                        <mat-select *ngIf="suppliers.length >= 1" matInput [formControlName]="'supplierId'" required>
                            <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">
                                {{supplier.supplierName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea name="productDescription" matInput [formControlName]="'productDescription'" required></textarea>
                    </mat-form-field>
                    <div>
                        <mat-label>Thumbnail</mat-label>
                        <div>
                            <img id="thumbnailPreview" #thumbnailPreview src="https://via.placeholder.com/250x150" alt="" class="cursor-pointer" (click)="fileInput.click()">
                            <input name="thumbnail" id="thumbnail" type="file" [formControlName]="'thumbnail'" class="hidden" #fileInput (change)="onChangeThumbnail($event)" />
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div mat-dialog-actions class="flex justify-center">
                    <button-close></button-close>
                    <button-submit></button-submit>
                </div>
            </div>
        </div>

    </form>

</div>