<div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(products$| async) as products">
                <ng-container *ngIf="products.length > 0; else noproducts">
                    <div class="grid">
                        <!-- Header -->
                        <div class="grid-cols-8 z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort matSortDisableClear>
                            <div>#</div>
                            <div class="hidden md:block" [mat-sort-header]="'supplierCOde'">
                                SKU
                            </div>
                            <div [mat-sort-header]="'name'">Name</div>
                            <div [mat-sort-header]="'buyPricePerUnit'">Buy Price</div>
                            <div [mat-sort-header]="'priceDefault'">Price Default</div>
                            <div class="hidden sm:block" [mat-sort-header]="'supplierType'">
                                Supplier
                            </div>
                            <div>Stock</div>
                            <div>
                                History
                            </div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(products$ | async) as products">
                            <ng-container *ngFor="let product of products; trackBy: trackByFn">
                                <div class="grid-cols-8 grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                    <!-- Image -->

                                    <div>
                                        <img width="80" [src]="product.thumbnailPath" alt="">
                                    </div>


                                    <!-- SKU -->
                                    <div class="hidden md:block truncate">
                                        {{product.sku}}
                                    </div>

                                    <!-- Name -->
                                    <div class="truncate">
                                        {{product.name}}
                                    </div>

                                    <div class="truncate flex items-center">
                                        {{product.buyPricePerUnit | currency:'JPY' }}
                                    </div>

                                    <div class="truncate flex items-center">
                                        {{product.priceDefault | currency:'JPY'}}
                                    </div>


                                    <div>
                                        {{product.supplier.supplierName}}
                                    </div>

                                    <div class="flex items-center">
                                        <div>
                                            <span> {{product.product_stock?product.product_stock.stock:0}}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <a [routerLink]="['/history/input-stock',product.sku]"><mat-icon aria-hidden="false">dvr</mat-icon></a>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                </ng-container>
            </ng-container>

            <ng-template #noproducts>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                    products!
                </div>
            </ng-template>

        </div>

    </div>
</div>