<div class="max-w-full h-fit">
    <h1 mat-dialog-title>{{ dialogData.title }} </h1>

    <form
        [formGroup]="form"
        id="form"
        #f="ngForm"
        novalidate
    >
        <div class="flex flex-col w-full">
            <div mat-dialog-content>
                <mat-form-field class="w-full">
                    <mat-label>Nama Paket</mat-label>
                    <input matInput placeholder="Ex. Paket A" required>
                </mat-form-field>
                <div class="flex flex-row flex-wrap justify-between gap-5">
                    <ng-container *ngIf="categories">
                        <mat-form-field style="width:20%">
                            <mat-label>Category</mat-label>
                            <mat-select
                                matInput
                                [formControlName]="'category_id'"
                                required
                            >
                                <mat-option
                                    *ngFor="let category of categories"
                                    [value]="category.id"
                                >
                                    {{ category.category }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="modules$ | async as modules">
                        <mat-form-field style="width:20%">
                            <mat-label>Module</mat-label>
                            <mat-select
                                matInput
                                [formControlName]="'module_id'"
                                #mdl
                                (selectionChange)="changeModule(mdl.value)"
                                required
                            >
                                <mat-option
                                    *ngFor="let module of modules"
                                    [value]="module.id"
                                >
                                    {{ module.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="subjects">
                        <mat-form-field style="width:20%">
                            <mat-label>Mapel</mat-label>
                            <mat-select
                                matInput
                                [formControlName]="'subject_id'"
                                required
                            >
                                <mat-option
                                    *ngFor="let subject of subjects"
                                    [value]="subject.id"
                                >
                                    {{ subject.mapel_name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="flags">
                        <mat-form-field style="width:20%">
                            <mat-label>Flag</mat-label>
                            <mat-select
                                matInput
                                [formControlName]="'flag_id'"
                            >
                                <mat-option
                                    *ngFor="let flag of flags"
                                    [value]="flag.id"
                                >
                                    <!--                                    {{ flag.mapel_name }}-->
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                </div>
                <div class="flex flex-col gap-3 bg-gray-300 rounded-md px-5 pb-5 pt-2">
                    <ng-container>
                        <div class="flex flex-row items-center justify-between">
                            <p class="font-bold text-lg">Soal</p>
                            <button *ngIf="isPreview === false" mat-button color="primary" (click)="onPreview(true)">
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button *ngIf="isPreview === true" mat-button color="primary" (click)="onPreview(false)">
                                <mat-icon>visibility_off</mat-icon>
                            </button>
                        </div>

                        <div>
                            <ng-container>
                                <div>
                                    <mat-checkbox>1. Suatu informasi baru yang kkdjdjkjdkjdkdjkjdjdjdkdjkdjjk
                                        diinformasikan
                                        melalui koran, majalah, televisi dan alat-alat media lainnya disebut...
                                    </mat-checkbox>
                                    <div class="flex flex-col pt-2 pl-10" *ngIf="isPreview === true">
                                        <ol class="">
                                            <li>A. Fiksi</li>
                                            <li>B. Aktual</li>
                                            <li>C. Berimbang</li>
                                            <li>D. Lengkap</li>
                                        </ol>
                                        <span class="font-bold pt-2">Jawaban Yang Benar: A</span>
                                    </div>
                                </div>
                                <div>
                                    <mat-checkbox>2. Suatu informasi baru yang kkdjdjkjdkjdkdjkjdjdjdkdjkdjjk
                                        diinformasikan
                                        melalui koran, majalah, televisi dan alat-alat media lainnya disebut...
                                    </mat-checkbox>
                                    <div class="flex flex-col pt-2 pl-10" *ngIf="isPreview === true">
                                        <ol class="">
                                            <li>A. Fiksi</li>
                                            <li>B. Aktual</li>
                                            <li>C. Berimbang</li>
                                            <li>D. Lengkap</li>
                                        </ol>
                                        <span class="font-bold pt-2">Jawaban Yang Benar: B</span>
                                    </div>
                                </div>
                                <div>
                                    <mat-checkbox>3. Suatu informasi baru yang kkdjdjkjdkjdkdjkjdjdjdkdjkdjjk
                                        diinformasikan
                                        melalui koran, majalah, televisi dan alat-alat media lainnya disebut...
                                    </mat-checkbox>
                                    <div class="flex flex-col pt-2 pl-10" *ngIf="isPreview === true">
                                        <ol class="">
                                            <li>A. Fiksi</li>
                                            <li>B. Aktual</li>
                                            <li>C. Berimbang</li>
                                            <li>D. Lengkap</li>
                                        </ol>
                                        <span class="font-bold">Jawaban Yang Benar: D</span>
                                    </div>
                                </div>
                                <div>
                                    <mat-checkbox>4. Suatu informasi baru yang kkdjdjkjdkjdkdjkjdjdjdkdjkdjjk
                                        diinformasikan
                                        melalui koran, majalah, televisi dan alat-alat media lainnya disebut...
                                    </mat-checkbox>
                                    <div class="flex flex-col pt-2 pl-10" *ngIf="isPreview === true">
                                        <ol class="">
                                            <li>A. Fiksi</li>
                                            <li>B. Aktual</li>
                                            <li>C. Berimbang</li>
                                            <li>D. Lengkap</li>
                                        </ol>
                                        <span class="font-bold pt-2">Jawaban Yang Benar: C</span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div>
                <div mat-dialog-actions class="flex">
                    <button-close></button-close>
                    <button-submit></button-submit>
                </div>
            </div>
        </div>
    </form>
</div>
