<div class="w-full">
    <h1 mat-dialog-title>{{ dialogData.title }}</h1>

    <form
        [formGroup]="form"
        id="form"
        #f="ngForm"
        (ngSubmit)="submitForm(f)"
        novalidate
    >
        <div class="flex flex-col w-full">
            <div mat-dialog-content>
                <div class="flex flex-col w-full">
                    <ng-container *ngIf="dialogData.type == 'edit'">
                        <mat-form-field>
                            <mat-label>Key</mat-label>
                            <mat-select matInput [value]="activeKey" disabled>
                                <mat-option [value]="activeKey">
                                    {{ activeKey }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="dialogData.type == 'add'">
                        <mat-form-field>
                            <mat-label>Key</mat-label>
                            <mat-select matInput [formControlName]="'key'">
                                <mat-option
                                    *ngFor="let key of keys$"
                                    [value]="key"
                                >
                                    {{ key }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>

                    <div>
                        <mat-label>Jawaban</mat-label>
                        <!-- <quill-editor matInput [formControlName]="'content'"></quill-editor> -->
                        <ckeditor formControlName="content" [editor]="Editor"></ckeditor>
                    </div>
                </div>
            </div>

            <div>
                <div mat-dialog-actions class="flex">
                    <button-close></button-close>
                    <button-submit></button-submit>
                </div>
            </div>
        </div>
    </form>
</div>
