<div>
    <div class="flex justify-between items-center">
        <span class="font-bold"><mat-label>Jawaban</mat-label></span>
        <button type="button" class="ml-4" mat-flat-button [color]="'primary'" (click)="add()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-1">Jawaban</span>
        </button>
    </div>
    <div>
        <ng-container *ngIf="(jawabans$ | async) as jb">
            <ng-container *ngFor="let jawaban of jb; let i = index;">
                <div class="flex justify-between bg-gray-200 p-2 py-3 my-2">
                    <label for="" class="flex items-center"><span class="font-bold">{{jawaban.key}}.</span> <span
                            class="ml-1" [innerHTML]="jawaban.content"></span></label>
                    <div class="flex items-center">
                        <mat-checkbox [checked]="jawaban.is_true" (click)="setTrue(jawaban.key)"></mat-checkbox>
                        <button type="button" (click)="editJawaban(i)">
                            <mat-icon [svgIcon]="'edit'" class="text-sm"></mat-icon>
                        </button>
                        <button type="button" (click)="deleteJawaban(i)">
                            <mat-icon [svgIcon]="'delete'" class="text-sm text-red-600"></mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>