<div class="w-full p-10">
    <div class="text-4xl font-extrabold tracking-tight mb-5">{{ formAttribute.formTitle }}</div>

    <form [formGroup]="formApp" id="formSite" #f="ngForm" (ngSubmit)="submitForm(f)" novalidate>
        <div class="flex flex-col w-full bg-white rounded-lg p-10">
            <div mat-dialog-content>
                <div class="flex flex-col w-full gap-5">
                    <div class="flex flex-row gap-3">
                        <mat-label>Libur</mat-label>
                        <mat-checkbox [formControlName]="'holiday'" [checked]="isHoliday"></mat-checkbox>
                    </div>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput [formControlName]="'description'" [value]="description"
                                  required placeholder="Masukan Description Libur"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div mat-dialog-actions class="flex gap-2 mt-2">
                <button-close></button-close>
                <button-submit></button-submit>
            </div>
        </div>
    </form>

</div>
