<div class="py-2">
    <div class="my-2">
        <button mat-flat-button [color]="'primary'" (click)="modalAdd()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        </button>
    </div>
    <table mat-table [dataSource]="productAttributes$ | async" class="mat-elevation-z1">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="attributeName">
            <th mat-header-cell *matHeaderCellDef> Attribute </th>
            <td mat-cell *matCellDef="let element, let i = index;"> {{element.product_attribute.attribute}} </td>
        </ng-container>


        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <input
                    class="shadow-sm appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-11/12"
                    [(ngModel)]="element.value">
            </td>
        </ng-container>

        <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef> Unit </th>
            <td mat-cell *matCellDef="let element, let i = index;"> {{element.product_attribute.unit??'-'}} </td>
        </ng-container>


        <ng-container matColumnDef="option">
            <th mat-header-cell *matHeaderCellDef> Options </th>
            <td mat-cell *matCellDef="let element, let i = index;">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="text-blue-600 hover:opacity-50 cursor-pointer" (click)="saveAttribute(element.id,element.productAttributeId,element.value)">
                        <span class="material-icons">
                            save
                        </span>
                    </mat-button-toggle>
                    <mat-button-toggle  class="text-red-600 hover:opacity-50 cursor-pointer" (click)="deleteAttribute(element.id)">
                        <span class="material-icons">
                            delete
                        </span>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>