<div class="w-100">
    <h1 mat-dialog-title>{{ dialogData.title }}</h1>

    <form
        [formGroup]="form"
        id="form"
        #f="ngForm"
        (ngSubmit)="submitForm(f)"
        novalidate
    >
        <div class="flex flex-col w-full">
            <div mat-dialog-content>
                <div class="flex flex-col w-full">
                    <mat-form-field>
                        <mat-label>Kode</mat-label>
                        <input matInput [formControlName]="'code'" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Nama Module</mat-label>
                        <input matInput [formControlName]="'name'" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Deskripsi</mat-label>
                        <textarea
                            matInput
                            [formControlName]="'description'"
                        ></textarea>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Urutan</mat-label>
                        <input
                            type="number"
                            matInput
                            [formControlName]="'order'"
                            required
                        />
                    </mat-form-field>
                    <div class="my-2">
                        <mat-label>Category</mat-label>
                        <ng-container *ngFor="let item of categories">
                            <div class="flex items-center justify-between border py-2 px-1 my-2">
                                <label for="">{{item.category}}</label>
                                <span>
                                    <mat-checkbox #chk (change)="checkCategory(chk,item.id)" [checked]="isChcek(item.id)"></mat-checkbox>
                                </span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div>
                <div mat-dialog-actions class="flex justify-center">
                    <button-close></button-close>
                    <button-submit></button-submit>
                </div>
            </div>
        </div>
    </form>
</div>
