<div>
    <mat-label>Thumbnail</mat-label>
   
    <div>
        <input [name]="name" id="thumbnail" type="file" #fileInput
            (change)="onChangeThumbnail($event)" />
            <img id="thumbnailPreview" [src]="preview!==''?preview+ '?tr=h-300':'https://via.placeholder.com/250x150'" alt=""
            class="cursor-pointer my-2">
        <!-- <img id="thumbnailPreview" [src]="preview!==''?preview:'https://via.placeholder.com/250x150'" alt=""
            class="cursor-pointer" (click)="fileInput.click()"> -->
    </div>
</div>