<div>
    <h2 mat-dialog-title>Add menu to Role</h2>
    <mat-dialog-content>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <!-- use a disabled button to provide padding for tree leaf -->

                <span class="w-full bg-gray-200 my-1 flex items-center">
                    <button mat-icon-button disabled></button>
                    <mat-checkbox class="ml-3" (change)="addMenu(node.id,$event.checked)"
                        [checked]="checkMenu(node.id)">
                    </mat-checkbox>
                    {{node.name}}
                </span>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <span class="w-full bg-gray-200 my-1 flex items-center">
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>

                    <mat-checkbox class="ml-3" (change)="addMenu(node.id,$event.checked)"
                        [checked]="checkMenu(node.id)">
                    </mat-checkbox>
                    {{node.name}}
                </span>
            </mat-tree-node>
        </mat-tree>
    </mat-dialog-content>
</div>